#amplify-do-not-edit-begin

## Ignores for backend directory
# Ignore bundler config.
/backend/.bundle

# Ignore all logfiles and tempfiles.
/backend/log/*
/backend/tmp/*
!/backend/log/.keep
!/backend/tmp/.keep

# Ignore pidfiles, but keep the directory.
/backend/tmp/pids/*
!/backend/tmp/pids/
!/backend/tmp/pids/.keep

# Ignore uploaded files in development.
/backend/storage/*
!/backend/storage/.keep
/backend/tmp/storage/*
!/backend/tmp/storage/
!/backend/tmp/storage/.keep

/backend/public/assets

# Ignore master key for decrypting credentials and more.
/backend/config/master.key

/backend/vendor/bundle

## Ignores for frontend directory
# Ignore node_modules
/frontend/node_modules

/frontend/amplify/team-provider-info.json
/frontend/amplify/\#current-cloud-backend
/frontend/amplify/.config/local-*
/frontend/amplify/logs
/frontend/amplify/mock-data
/frontend/amplify/mock-api-resources
/frontend/amplify/backend/amplify-meta.json
/frontend/amplify/backend/.temp
/frontend/build/
/frontend/dist/
/frontend/src/aws-exports.ts
/frontend/awsconfiguration.json
/frontend/amplifyconfiguration.json
/frontend/amplifyconfiguration.dart
/frontend/amplify-build-config.json
/frontend/amplify-gradle-config.json
/frontend/amplifytools.xcconfig

## Ignores for both backend and frontend directory
.env
.secret-*
**.sample

#amplify-do-not-edit-end
