# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/public/assets

# Ignore master key for decrypting credentials and more.
/config/master.key

/vendor/bundle

# 環境変数
.env

# Ignore node_modules
/ui/node_modules

#amplify-do-not-edit-begin
/ui/amplify/team-provider-info.json
/ui/amplify/\#current-cloud-backend
/ui/amplify/.config/local-*
/ui/amplify/logs
/ui/amplify/mock-data
/ui/amplify/mock-api-resources
/ui/amplify/backend/amplify-meta.json
/ui/amplify/backend/.temp
/ui/build/
/ui/dist/
/ui/src/aws-exports.ts
/ui/awsconfiguration.json
/ui/amplifyconfiguration.json
/ui/amplifyconfiguration.dart
/ui/amplify-build-config.json
/ui/amplify-gradle-config.json
/ui/amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end

#amplify access-key
amplify*_accessKeys.csv