#amplify-do-not-edit-begin

## Ignores for backend directory
# Ignore bundler config.
/backend/.bundle

# Ignore all logfiles and tempfiles.
/backend/log/*
/backend/tmp/*
!/backend/log/.keep
!/backend/tmp/.keep

# Ignore pidfiles, but keep the directory.
/backend/tmp/pids/*
!/backend/tmp/pids/
!/backend/tmp/pids/.keep

# Ignore uploaded files in development.
/backend/storage/*
!/backend/storage/.keep
/backend/tmp/storage/*
!/backend/tmp/storage/
!/backend/tmp/storage/.keep

/backend/public/assets

# Ignore master key for decrypting credentials and more.
/backend/config/master.key

/backend/vendor/bundle

## Ignores for frontend directory
# Ignore node_modules
/frontend/node_modules

# Ignore amplify
/frontend/amplify/.config/
/frontend/amplify/\#current-cloud-backend
/frontend/amplify/backend/*
!/frontend/amplify/backend/api/spocon/schema.graphql # shcema.graphqlのみ独自で修正する必要があるためignoreから外す
/frontend/amplify/hooks
/frontend/amplify/cli.json
/frontend/amplify/team-provider-info.json
/frontend/src/aws-exports.ts

## Ignores for both backend and frontend directory
.env
.secret-*
**.sample

#amplify-do-not-edit-end
