.past-messages-container {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  margin-bottom: 10px;
  overflow: scroll;
}

.past-messages-container.mine {
  justify-content: flex-end;
}

.past-messages-container .past-message {
  background: #ddd;
  padding: 10px;
  border-radius: 5px;
}

.past-messages-container.mine .past-message {
  background: #ace;
}
