.team-list-container {
  display: grid;
  grid-template-columns: minmax(490px, 490px) minmax(490px, 490px);
  justify-content: center;
  gap: 20px;
}

.team-list-item {
  padding: 10px;
  border: 1px solid #000000;
}

.team-list-item img {
  width: 468px;
  height: auto;
}
