.main-view-container {
  display: grid;
  width: 1000px;
}

.filter-view-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  grid-auto-rows: 100px;
  align-items: center;
}

.filter-view-item {
  text-align: center;
}
